.basekick(@bk-type-size-modifier; @bk-type-descender-height; @bk-type-row-span; @bk-grid-row-height; @bk-line-height-override: false) {
  font-size: unit(@bk-type-size-modifier, rem);
  transform: translateY(unit(@bk-type-descender-height, em));

  & when (isNumber(@bk-line-height-override)) {
    line-height: unit(@bk-line-height-override, px);
  }

  & when not (isNumber(@bk-line-height-override)) {
    line-height: unit((@bk-grid-row-height * @bk-type-row-span), px);
  }
};
